<!-- <!-- <%- include('../layouts/header') %>

<h2>Coach Dashboard</h2>
<p>Welcome, Coach <%= user.name %>!</p>

<h3>Assigned Players</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Performance</th>
    <th>Actions</th>
  </tr>
  <% players.forEach(player => { %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.performanceScore %></td>
    <td>
      <a href="/coach/update-performance/<%= player._id %>">Update</a>
    </td>
  </tr>
  <% }) %>
</table>

<%- include('../layouts/footer') %> -->
-->
